.Rproj.user
.Rhistory
.RData
.Ruserdata


*.Rproj
_bookdown_files

*Bayesian-Data-Science.Rmd

.DS_Store
**/.DS_Store

# I get annoyed at checking in a libs/ folder everywhere, but you do need one in docs/.
**/*libs
!docs/libs/

# We need Preceptor’s-Primer-for-Bayesian-Data-Science_files in docs/.
**/*_files/
!docs/Preceptor’s-Primer-for-Bayesian-Data-Science_files/

**/*log
**/*tex

**/storage

**/rsconnect

