/**
This section aligns the gt_table to the center of the left column, fixing the bug that cuased the table to span scross the entire page width and into the comments on the right column.
margin-left and margin-right set the margins to be 0 so the table spans across the whole page.
width then takes the table and shrinks it to 55% which covers the left column.
!important allows our style.css to overwrite the msmb and tufte css.
**/
.gt_table {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 55% !important;
}
.table {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 55% !important;
}

/**
This section reduces the size of code chunks so it fits in the left column.
Previously, the font would go beyond the left column and users had to scroll right to see the whole code chunk, Reducing the font-size to 12 allows for any line less than 80 characters to show up without the user having to scroll.
!important allows our style.css to overwrite the msmb and tufte css.
**/
.sourceCode {
  font-size: 12px !important;
}
pre {
  font-size: 12px !important;
}
